<div id="contenedor">
  <section id="buscador-usuario">
    <div><label for="buscador"></label><input type="text" name="buscador" id="buscador" placeholder="ingrese No de documento"></div>
    <div><input type="button" value="Buscar"></div>
    <div><input type="button" value="Agregar"></div>
  </section>
  <div class="clear"></div>
  <div>
    <table>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Tipo de documento</th>
        <th>Número de documento</th>
        <th>Telefono</th>
        <th>Correo</th>
        <th>Puntos</th>
        <th></th>
      </tr>
      <tr *ngFor='let usuario of listaClientes; index as indice'>
        <td>{{usuario.Nombre}}</td>
        <td>{{usuario.Apellido}}</td>
        <td>{{usuario.TipoDocumento}}</td>
        <td>{{usuario.NumeroDocumento}}</td>
        <td>{{usuario.Telefono}}</td>
        <td>{{usuario.Correo}}</td>
        <td>{{usuario.Puntos}}</td>
        <td><input type="button" value="Actualizar">
          <input type="button" value="Eliminar">
          <input type="button" value="Compras"></td>
      </tr>
    </table>
  </div>
</div>