<h1>Usuario {{nombre}}</h1>
<form action="" id="Actualizar">
    <span></span>
    <input type="text" name="" id="">
    <span></span>
    <select name="" id="">
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <span></span>
        <input type="text" name="" id="">
        <span></span>
        <input type="text" name="" id="">
        <span></span>
        <input type="text" name="" id="">
        <input type="submit" value="">
    </select>
</form>